@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap');

/* default styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #333333;
}

h1,
h2,
h3,
h6 {
    font-family: Itim, sans-serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #DD9A89;
}

/* header */

header {
    background-color: #44b3a5;
    width: auto;
    height: 75px;
    overflow: hidden;
}

#logo {
    float: left;
    margin: 15px 5px 15px 15px;
    letter-spacing: 3px;

}

#menu {
    font-weight: 700;
    font-size: 115%;
    font-family: Itim, sans-serif;
}

#menu ul {
    margin: 25px 10px 5px 0;
    text-align: right;
    width: 1000px;
    float: right;
}

#menu li {
    text-align: center;
    display: inline;
    margin-left: 3px;
    width: 25px;
    list-style: none;
}

#menu li:not(:first-child):before {
    content: "|      ";
}

/* footer */

footer {
    background-color: #DFDCD9;
    width: auto;
    height: 100px;
    overflow: hidden;
}

#footer-logo {
    width: 150px;
    float: left;
    border: solid #DFDCD9 5px;
    padding: 20px;
    text-align: center;
    font-size: 120%;
}

footer p {
    font-size: 50%;
}

footer ul {
    padding: 10px;
    margin: 25px 15px 5px 0;
    text-align: right;
    width: 1000px;
    float: right;
}

footer li {
    text-align: center;
    display: inline;
    margin-left: 25px;
    width: 25px;
    list-style: none;
    font-size: 150%;
}

/* home page */

#hero-area {
    position: relative;
    text-align: left;
    background: url('../images/home_page.jpg');
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


#hero-text {
    height: 300px;
    width: 500px;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    bottom: 20px;
    left: 120px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.text-area {
    margin-left: 20px;
}

#hero-text span {
    font-weight: 600;
    font-size: 300%;
}

#hero-text button {
    font-weight: 600;
    font-size: 110%;
    background-color: #44b3a5;
    padding: 5px;
    margin: 10px;
    border: #44b3a5 solid 5px;
}

/* cannot get the span and button to line up the way I want through both padding margins and borders */