/* Text Import from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat&display=swap");

/* Default styling */

html {
	scroll-behavior: smooth;
	position: relative;
	min-height: 100%;
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #333333;
}

h1,
h2,
h3,
h4 {
	font-family: Itim, sans-serif;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 3px;
}

a {
	text-decoration: none;
	color: #333333;
}


/* Header */

#header {
	background-color: #44b3a5;
	width: 100%;
	height: 75px;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	font-size: 1.5rem;
}

#logo {
	letter-spacing: 3px;
	margin-left: 10px;
}


/* Navigation menu */

#menu {
	font-weight: 700;
	font-size: 1.7rem;
	font-family: Itim, sans-serif;
	margin-right: 25px;
}

#menu ul {
	text-align: right;
	width: auto;
}

#menu li {
	text-align: center;
	display: inline;
	margin-left: 3px;
	width: 25px;
	list-style: none;
}


/*Code below from an answer given to a question on the following site
https://stackoverflow.com/questions/31140935/how-do-i-add-vertical-line-on-my-menu-item-in-html-css */

#menu li:not(:first-child):before {
	content: "|      ";
}

#menu a.active {
	background-color: #DD9A89;
	color: black;
}


/* Dropdown menu */


/*Dropdown from W3 school tutorial for dropdown menu - adjusted for this site
                https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar-->*/

li a,
.dropbtn {
	display: inline-block;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: #DD9A89;
}

li.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #44b3a5;
	min-width: 210px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	top: 22px;
	left: 50%;
	margin-left: -100px;
}

.dropdown-content a {
	color: #333333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #DD9A89;
}

.dropdown:hover .dropdown-content {
	display: inline-block;
}


/* Make Header sticky */


/* Javascript from W3 school tutorial for sticky nav bar and adjusted for this site
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky */

.sticky {
	position: fixed;
	top: 0;
	width: auto;
}

.content {
	padding-top: 20px;
}

.sticky+.content {
	padding-top: 120px;
	padding-bottom: 300px;
}


/* Footer */

footer {
	background-color: #DFDCD9;
	height: 100px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#footer-logo {
	width: 150px;
	border: solid #DFDCD9 5px;
	text-align: center;
	font-size: 2rem;
}

footer p {
	font-size: 1.2rem;
}


/* Social media icons */

footer ul {
	padding: 10px;
	margin: 25px 15px 5px 0;
	text-align: right;
	width: auto;
}

footer li {
	text-align: center;
	display: inline;
	margin-left: 25px;
	width: 25px;
	list-style: none;
	font-size: 1.8rem;
}


/* Home page */

#home-page {
	display: flex;
	flex-direction: row;
}

#hero-area {
	background: url("../images/home-page.jpg");
	height: 1000px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 30%;
	position: relative;
	z-index: -1;
	margin: 0 auto;
}

#hero-text {
	height: 300px;
	width: 600px;
	background-color: rgb(255, 255, 255, 0.99);
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	z-index: 1;
	top: 220px;
	left: 80px;
	font-size: 1.8rem;
}

#hero-text p {
	padding-top: 10px;
}

#hero-text h3 {
	padding-top: 10px;
}

.text-area {
	margin-left: 20px;
	line-height: 130%;
}

#learn-more {
	margin: 20px 20px 0 20px;
	padding: 5px 15px;
	text-align: center;
	font-size: 2rem;
	font-family: Itim, sans-serif;
	background-color: #44b3a5;
	color: #101010;
	border: 1px solid #333333;
	border-radius: 5px;
}


/* Shadow code from W3 school tutorials */

#learn-more:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* About page */

#about-menu h2 {
	font-size: 2.7rem;
	text-align: center;
	padding: 30px 10px 10px 10px;
	margin: 0 auto;
}


/* Classes used across page */

.sections-headers {
	text-align: center;
	padding: 40px;
	font-size: 2.2rem;
}

.solid-background {
	text-align: center;
	width: 900px;
	padding: 35px 10px;
	margin: 0 auto;
	color: #101010;
}

.solid-orange {
	background-color: #E8A87C;
	line-height: 170%;
	font-size: 1.9rem;
}

.solid-blue {
	background-color: #85CDCA;
}

.solid-pink {
	background-color: #C38D9D;
}

.solid-grey {
	background-color: #DFDCD9;
}

.solid-green {
	background-color: #a2ccaf;
}

.solid-peach {
	background-color: #DD9A89;
}

.square-image {
	width: 300px;
	height: 300px;
	border: 3px solid #333333;
	padding: 3px;
}


/* What is sensory play? */

.senses-area {
	display: flex;
	flex-direction: row;
}

.senses-area-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.senses-paragraph {
	width: 500px;
	padding: 20px 20px 0px 35px;
	line-height: 170%;
	font-size: 1.9rem;

}.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.senses-heading {
	font-size: 2.2rem;
	width: 900px;
	padding: 35px 10px;
	margin: 0 auto;
	color: #333333;
}

.play-by-pic {
	padding: 3px;
	border: solid 3px #333333;
	margin: 15px;
}




/* Play in Motion */

#iframe {
	width: 850px;
	height: 606px;
	padding: 3px;
	border: solid 3px #333333;
	margin: 5px;
}


/* Top 10 Activities */

#top10-pane {
	width: 900px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

#play-images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.play-image-internal {
	margin: 40px 25px;
}

#activities-boxes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.activities-style {
	margin: 5px 5px 5px 0;
	width: 500px;
	padding: 10px;
	font-size: 1.9rem;
	line-height: 150%;
}

.activities-style h4 {
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 1.6rem;
	line-height: 150%;
}


/* Help with Anxiety */

#anxiety-img {
	width: 500px;
	height: 400px;
	padding: 3px;
	border: 3px solid #333333;
	margin: 0 auto;
	display: block;
}

#anxiety-pane {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #85CDCA;
	width: 900px;
	padding: 10px;
	margin: 0 auto;
}

.grid-figure {
	display: inline-grid;
	font-size: 1.5rem;
	text-align: center;
	padding: 15px;
	margin: 0 auto;
}

.anxiety-activity {
	width: 200px;
	height: 200px;
	padding: 10px;
}


/* Tooltip for Anxiety activities */


/* Code from W3 schools tutorial on Tooltips
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted #333333;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #333333;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -100px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


/* Hear from Each Other */

#feedback-heading {
	font-size: 2.2rem;
	text-align: center;
	padding: 40px 10px 40px 10px;
}

.profile-pictures {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	padding: 2px;
	border: #333333 solid 1px;
	margin: 1px;
}

.feed-sub {
	font-size: 2rem;
	margin: 0 auto;
	padding: 30px 10px 0px 10px;
	width: 900px;
	height: fit-content;
}

.feedback-section {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 30px;
}

.feedback-grid {
	text-align: left;
	width: 425px;
	height: 180px;
	line-height: 110%;
	padding: 0px 5px 5px 5px;
	margin: 0px 3px 3px 3px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.recommendations-grid {
	text-align: left;
	width: 425px;
	height: 180px;
	line-height: 110%;
	padding: 0px 5px 5px 5px;
	margin: 0px 3px 3px 3px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.feedback-image {
	margin: 5px;
}

.feedback-heading {
	font-size: 1.35rem;
	font-weight: 800;
}

.feedback-font {
	font-size: 1.25rem;
	font-weight: 600;
}


/* Get In Touch */

#contact-us-heading {
	font-size: 2.2rem;
	text-align: center;
	padding: 40px 10px 10px 10px;
}

#contact-us-heading h3 {
	padding: 20px 10px 10px 20px;
}

#young-boy-sandpit {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

#contact-us-area {
	text-align: left;
	background: url("../images/contact-us.jpg");
	height: 900px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	border-top: 30px white solid;
	border-bottom: 30px white solid;
}


/* Form */

#form-background {
	height: fit-content;
	width: 800px;
	background-color: rgba(255, 253, 253, 0.8);
	bottom: 0.5%;
	right: 0.5%;
	padding: 20px 40px 20px 20px;
	position: absolute;
	font-size: 1.2rem;
	font-weight: 800;
}

.form-input {
	background: transparent;
	width: 100%;
	height: 20px;
	margin: 20px 0 20px 0;
	padding: 5px 10px;
	border: 1px solid #333333;
	border-radius: 5px;
}

.form-input:hover {
	border-color: #44b3a5;
}

.text-area-pane {
	width: 100%;
	height: 50px;
	margin: 20px 0 20px 0;
	border: 1px solid #333333;
	border-radius: 5px;
	background: transparent;
	font-size: 1.2rem;
	font-family: Montserrat, sans-serif;
	padding: 5px 10px;
}

.text-area-pane:hover {
	border-color: #44b3a5;
}

.form-labels {
	width: fit-content;
	height: fit-content;
	border: none;
	margin-right: 10px;
	padding: 3px;
	font-size: 1.3rem;
	font-weight: 900;
	color: #101010;
}

#radio-feedback-area {
	width: 100%;
}

.radio-feedback {
	margin: 20px 2px 40px 10px;
}

.submit-info {
	margin: 0 auto;
	padding: 10px 30px;
	text-align: center;
	font-size: 2rem;
	font-family: Itim, sans-serif;
	background-color: #44b3a5;
	color: #101010;
	border: 1px solid #333333;
	border-radius: 5px;
}


/* Shadow code from W3 schools */

.submit-info:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* @Media queries */

@media screen and (max-width: 6000px) {
	/* Default*/
	html {
		font-size: 150%;
	}
	/* Header */
	#header {
		height: 180px;
	}
	/* Navigation menu */
	/* Dropdown menu */
	.dropdown-content {
		top: 32px;
		left: 70%;
		margin-left: -190px;
	}
	.content {
		padding-top: 90px;
		padding-bottom: 80px;
	}
	.sticky+.content {
		padding-top: 130px;
		padding-bottom: 120px;
	}
	/* Footer */
	footer {
		height: 200px;
	}
	#footer-logo {
		width: 200px;
		border: solid #DFDCD9 5px;
		padding-top: 10px;
		font-size: 1.3rem;
	}

	footer p {
		font-size: 1.1rem;
	}
	/* Home Page */
	#hero-area {
		background: url("../images/home-page-large.jpg");
		width: 100%;
		height: 3000px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#hero-text {
		top: 500px;
		left: 200px;
		width: 950px;
		height: fit-content;
		padding: 150px 40px 100px 40px;
		margin: auto 0;
	}
	#learn-more {
		margin: 50px 20px 0px 30px;
	}
	/* About page */
	/* Classes used across page */
	.solid-background {
		width: 2000px;
	}
	.square-image {
		width: 400px;
		height: 400px;
	}
	/* What is sensory play? */
	.senses-paragraph {
		width: 1500px;
		font-size: 1.8em;
		line-height: 130%;
	}
	
	.senses-heading{
		width: 2000px;
	}

	/* Play in Motion */
	#iframe {
		width: 1800px;
		height: 1000px;
		padding: 3px;
		border: solid 3px #333333;
		margin: 5px;
	}
	/* Top 10 Activities */
	#top10-pane {
		width: 2000px;
	}
	.play-image-internal {
		margin: 30px 25px;
	}
	.activities-style {
		width: 1500px;
	}
	/* Help with Anxiety */
	#anxiety-img {
		width: 1500px;
		height: auto;
	}
	#anxiety-pane {
		width: 2000px;
		padding-top: 75px;
		padding-bottom: 75px;
		margin-bottom: 100px;
	}
	.anxiety-activity {
		width: 300px;
		height: 300px;
		padding: 10px;
	}
	/* Tooltip for Anxiety activities */
	.tooltip .tooltiptext {
		width: 300px;
		margin-left: -150px;
	}
	.tooltip .tooltiptext::after {
		top: 100%;
		left: 50%;
		margin-left: -150px;
	}
	/* Hear from Each Other */
	#feedback-container {
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#recommendations-container {
		margin: 0 auto;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.feed-sub {
		padding: 40px 10px 0px 10px;
		width: 2000px;
	}
	.feedback-section {
		border-bottom: none;
	}
	.profile-pictures {
		width: 100px;
		height: 100px;
	}
	.feedback-grid {
		width: 800px;
		height: fit-content;
		padding: 50px;
	}
	.recommendations-grid {
		width: 800px;
		height: fit-content;
		padding: 50px;
	}
	/* Get In Touch */
	#contact-us-area {
		height: 1700px;
		border-bottom: none;
	}
	/* Form */
	#form-background {
		height: fit-content;
		width: 1500px;
		bottom: 12%;
		right: 5%;
	}
	.form-input {
		height: 20px;
		margin: 20px 0 20px 0;
		padding: 5px 10px;
	}
	.text-area-pane {
		height: 50px;
		margin: 20px 0 20px 0;
		padding: 5px 10px;
	}
	.form-labels {
		margin-right: 10px;
		padding: 3px;
	}
	.radio-feedback {
		margin: 20px 2px 40px 10px;
	}
	.submit-info {
		margin: 5px 10px;
		padding: 10px 30px;
	}
	@media screen and (max-width: 4000px) {
		/* Default styling */
		html {
			font-size: 80%;
		}
		/* Navigation menu */
		/* Dropdown menu */
		.dropdown-content {
			min-width: 210px;
			top: 28px;
			left: 50%;
			margin-left: -100px;
		}
		/* Make Header sticky */
		.content {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		.sticky+.content {
			padding-top: 120px;
			padding-bottom: 120px;
		}
		/* Footer */
		footer {
			height: 110px;
		}

		footer h4 {
			font-size: 1.5rem;
		}

		footer p {
			font-size: 1rem;
		}
		/* Home page */
		#hero-area {
			background: url("../images/home-page.jpg");
			height: 1500px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 10% 30%;
		}
		#hero-text {
			height: 440px;
			width: 600px;
			padding-top: 20px;
			padding-bottom: 20px;
			top: 350px;
			left: 80px;
		}
		#learn-more {
			margin: 30px 20px 0 20px;
		}
		/* About page */
		/* Classes used across page */
		.sections-headers {
			padding: 50px;
		}
		.solid-background {
			width: 1000px;
		}
		.square-image {
			width: 300px;
			height: 300px;
		}
		/* What is sensory play? */
		.senses-paragraph {
			width: 600px;
			padding-right: 10px;
			padding-top: 10px;
		}

		.senses-heading {
			width: 1000px;
		}
		
		/* Play in Motion */
		#iframe {
			width: 850px;
			height: 606px;
			padding: 3px;
			margin: 5px;
		}
		/* Top 10 Activities */
		#top10-pane {
			width: 1000px;
		}
		.play-image-internal {
			margin: 0px 25px 150px 25px;
		}
		.activities-style {
			width: 600px;
		}
		/* Help with Anxiety */
		#anxiety-img {
			width: 900px;
			height: 800px;
		}
		#anxiety-pane {
			width: 1000px;
		}
		.anxiety-activity {
			width: 220px;
			height: 220px;
		}
		/* Tooltip for Anxiety activities */
		/* Code from W3 schools tutorial on Tooltips
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom */
		.tooltip .tooltiptext {
			width: 220px;
			padding: 5px 0;
			bottom: 150%;
			left: 50%;
			margin-left: -110px;
		}
		.tooltip .tooltiptext::after {
			top: 100%;
			left: 50%;
			margin-left: -5px;
		}
		/* Hear from Each Other */
		#feedback-container {
			margin: 0 auto;
			padding-top: 0px;
			padding-bottom: 100px;
		}
		#recommendations-container {
			margin: 0 auto;
			padding-top: 0px;
			padding-bottom: 200px;
		}
		.profile-pictures {
			width: 90px;
			height: 90px;
		}
		.feed-sub {
			padding: 35px 10px 0px 10px;
			width: 1210px;
			height: fit-content;
			text-indent: 2%;
		}
		.feedback-section {
			height: fit-content;
			width: 1210px;
			border-bottom: none;
		}
		.feedback-grid {
			width: 510px;
			height: 280px;
			line-height: 100%;
			padding: 0px 0px 5px 5px;
			margin: 0px 3px 3px 0px;
		}
		.recommendations-grid {
			width: 510px;
			height: 280px;
			line-height: 100%;
			padding: 0px 0px 5px 5px;
			margin: 0px 3px 3px 0px;
		}
		/* Get In Touch */
		#contact-us-area {
			height: 1000px;
		}
		/* Form */
		#form-background {
			width: 850px;
			bottom: 0%;
			right: 1.5%;
			padding: 20px 40px 10px 20px;
		}
		.form-input {
			height: 20px;
			margin: 20px 0 20px 0;
			padding: 5px 10px;
		}
		.text-area-pane {
			height: 50px;
			margin: 20px 0 20px 0;
			padding: 5px 10px;
		}
		.form-labels {
			margin-right: 10px;
			padding: 3px;
		}
		.radio-feedback {
			margin: 20px 2px 40px 10px;
		}
		.submit-info {
			margin: 5px 10px;
			padding: 10px 30px;
		}
		@media screen and (max-width: 2400px) {
			/* Header */
			#header {
				height: 75px;
			}
			/* Navigation menu */
			/* Dropdown menu */
			.dropdown-content {
				top: 20px;
			}
			/* Make Header sticky */
			.content {
				padding-top: 50px;
			}
			.sticky+.content {
				padding-top: 120px;
				padding-bottom: 120px;
			}
			/* Footer */
			footer {
				height: 110px;
			}
			/* Home page */
			#hero-area {
				height: 1200px;
				border-bottom: solid white 10px;
			}
			#hero-text {
				height: fit-content;
				width: 400px;
				padding-top: 30px;
				padding-bottom: 50px;
				top: 350px;
				left: 40px;
			}
			#learn-more {
				margin: 30px 20px 0 20px;
			}
			/* About page */
			.solid-orange {
				line-height: 150%;
				font-size: 1.7em;
			}
			.senses-paragraph {
				line-height: 150%;
				font-size: 1.7em;
			}
	
			/* Top 10 Activities */
			.play-image-internal {
				margin: 0px 25px 60px 25px;
			}
			/* Help with Anxiety */
			#anxiety-img {
				width: 700px;
				height: 600px;
			}
		}
		/* Hear from Each Other */
		.feed-sub {
			padding: 10px 10px 0px 10px;
			width: 1000px;
		}
		.feedback-section {
			width: 1000px;
		}
		.feedback-grid {
			width: 450px;
			height: 300px;
			line-height: 100%;
			padding: 8px 5px 5px 10px;
			margin: 8px 3px 3px 20px;
		}
		.recommendations-grid {
			width: 450px;
			height: 300px;
			line-height: 100%;
			padding: 8px 5px 5px 10px;
			margin: 8px 3px 3px 20px;
		}
		/* Get In Touch */
		#contact-us-area {
			height: 1000px;
		}
		/* Form */
		#form-background {
			width: 700px;
			bottom: 2%;
			right: 1.5%;
			padding: 20px 40px 20px 20px;
		}
		.submit-info {
			margin: 0 auto;
		}
	}
	@media screen and (max-width: 2000px) {
		/* Footer */
		footer {
			height: 120px;
		}
		footer p {
			font-size: 1rem;
		}
		/* About page */
		/* Top 10 Activities */
		.play-image-internal {
			margin: 50px 25px 50px 25px;
		}
		/* Hear from Each Other */
		.feedback-grid {
			height: 300px;
		}
		.recommendations-grid {
			height: 300px;
		}
		/* Get In Touch */
		#contact-us-area {
			padding-top: 0px;
			height: 800px;
			padding-bottom: 100px;
		}
		#form-background {
			width: 800px;
			padding: 10px 20px 10px 10px;
		}
		.form-input {
			height: 15px;
			margin: 10px 0 10px 0;
			padding: 3px 5px;
		}
		.text-area-pane {
			height: 25px;
			margin: 10px 0 10px 0;
			padding: 3px 5px;
		}
		.form-labels {
			margin-right: 5px;
			padding: 1px;
		}
		.radio-feedback {
			margin: 10px 1px 20px 5px;
		}
		.submit-info {
			margin: 3px 5px;
			padding: 5px 15px;
		}
	}
	@media screen and (max-width: 1044px) {
		/* Default styling */
		html {
			font-size: 55%;
		}
		/* Footer */
		footer {
			height: 120px;
		}
		footer p {
			font-size: 1.2rem;
		}
		/* Home Page */
		#home-page {
			display: flex;
			flex-direction: column;
			height: 1000px;
		}
		#hero-area {
			height: 400px;
			border-bottom: solid white 10px;
		}
		#hero-text {
			height: 320px;
			width: 400px;
			padding: 5px;
			top: 720px;
			left: 50%;
			right: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		.text-area {
			margin-left: 0px;
		}
		#learn-more {
			margin: 30px 20px 0 20px;
		}
		/* About page */
		/* Classes used across page */
		.solid-background {
			width: 650px;
		}
		.solid-orange {
			line-height: 120%;
		}
		.square-image {
			width: 150px;
			height: 150px;
		}
		/* What is sensory play? */
		.senses-paragraph {
			width: 400px;
			line-height: 120%;
		}

		.senses-heading {
			width: 650px;
		}

		/* Play in Motion */
		#iframe {
			width: 500px;
			height: 400px;
		}
		/* Top 10 Activities */
		#top10-pane {
			width: 650px;
		}
		.activities-style {
			width: 400px;
			line-height: 120%;
			letter-spacing: 0;
		}
		.play-image-internal {
			margin: 100px 30px;
		}
		/* Help with Anxiety */
		#anxiety-img {
			width: 450px;
			height: 300px;
		}
		#anxiety-pane {
			width: 650px;
		}
		.anxiety-activity {
			width: 150px;
			height: 150px;
		}
		/* Hear from Each Other */
		.feed-sub {
			width: 650px;
		}
		.feedback-section {
			width: 650px;
		}
		.feedback-grid {
			width: 300px;
			height: 300px;
			padding: 8px 5px 5px 5px;
			margin: 8px 3px 3px 5px;
		}
		.recommendations-grid {
			width: 300px;
			height: 300px;
			padding: 8px 5px 5px 5px;
			margin: 8px 3px 3px 5px;
		}
		.feedback-heading {
			font-size: 1.8rem;
		}
		.feedback-font {
			font-size: 1.5rem;
		}
		/* Get In Touch */
		#contact-us-heading h3 {
			padding: 20px 10px 30px 20px;
		}
		#contact-us-area {
			height: 900px;
			width: 400px;
			padding-top: 20px;
			margin: 0 auto;
			padding-bottom: 30px;
			background: none no-repeat;
		}
		#young-boy-sandpit {
			visibility: visible;
			height: 300px;
			width: 300px;
			border: solid #333333 2px;
			margin: 0 auto;
		}
		/* Form */
		#form-background {
			width: 400px;
			border: solid #333333 2px;
			padding: 20px 40px 20px 20px;
			top: 0px;
			left: -30px;
			background-color: rgba(255, 253, 253, 1);
		}
		#radio-feedback-area {
			display: flex;
			flex-direction: column;
			padding: 20px;
		}
		.radio-feedback {
			margin: 3px;
		}
		@media screen and (max-width: 720px) {
			/* Default styling */
			html {
				font-size: 55%;
			}
			/* Header */
			#header {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
			}
			#logo {
				letter-spacing: 0;
				padding: 8px;
			}
			/* Nav */
			#menu ul {
				width: auto;
			}
			#menu li {
				display: list-item;
				width: auto;
				padding: 8px;
				font-size: 1.5em;
			}
			#menu li:not(:first-child):before {
				content: "";
			}
			.sticky+.content {
				padding-top: 240px;
			}
			/* Dropdown menu */
			.dropdown-content {
				visibility: hidden;
			}
			/* Homepage */
			#hero-area {
				background: url("../images/home-page-smaller.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				height: 300px;
				max-width: 400px;
				border: solid #333333 2px;
				padding: 50px 3px 0px 3px;
			}
			#hero-text {
				top: 800px;
			}
			/* About page */
			#about-menu h2 {
				padding: 10px 10px 0px 10px;
			}
			/* Classes used across page */
			.sections-headers {
				padding: 20px;
				width: 400px;
				margin: 0 auto;
			}
			.solid-background {
				width: 400px;
				padding: 20px 5px 20px 5px;
				line-height: 110%;
				display: flex;
				flex-direction: column;
			}
			.solid-orange {
				width: 400px;
				font-size: 1.8rem;
				color: black;
			}
			.square-image {
				width: 80px;
				height: 80px;
				margin: 1px;
				padding: 1px;
			}
			/* What is sensory play? */
            .senses-area {
				display: flex;
				flex-direction: column;
			}
			
			.senses-area-reverse {
				display: flex;
				flex-direction: column;
			}
			
			.senses-paragraph {
				width: 400px;
				padding: 15px 0px 0px 0px;
				margin: 1px;
				font-size: 1.8rem;
				color: black;
			}
			
			.right-align {
				text-align: center;
			}
			.left-align {
				text-align: center;
			}
			.senses-heading {
				width: 400px;
			}

			.play-by-pic {
				margin: 0 auto;
			}
			/* Play in Motion */
			#iframe {
				width: 300px;
				height: 250px;
				margin: 0 auto;
			}
			/* Top 10 Activities */
			#top10-pane {
				width: 400px;
				flex-direction: column;
			}
			.activities-style {
				width: 400px;
			}
			.activities-style h4 {
				color: #000000;
				font-size: 1.8rem;
				letter-spacing: normal;
			}
			.activities-style p {
				color: black;
				font-size: 1.8rem;
			}
			#play-images {
				display: flex;
				flex-direction: row;
			}
			.play-image-internal {
				margin: 10px 10px;
			}
			/* Help with Anxiety */
			#anxiety-img {
				width: 300px;
				height: 220px;
			}
			#anxiety-pane {
				width: 400px;
				height: fit-content;
				padding: 10px 5px;
			}
			.anxiety-activity {
				width: 80px;
				height: 80px;
			}
			/* Tooltip */
			.tooltip {
				font-size: 1.5rem;
			}
			.tooltip .tooltiptext {
				width: 150px;
				margin-left: -80px;
				font-size: 1.5rem;
			}
			/* Hear from Each Other */
			.profile-pictures {
				width: 50px;
				height: 50px;
			}
			.feed-sub {
				width: 400px;
			}
			.feedback-section {
				width: 400px;
				grid-template-columns: auto;
			}
			.feedback-grid {
				width: 380px;
				height: 210px;
				font-size: 1.2em;
				text-align: center;
				margin: 0 auto;
				padding: 5px 5px 10px 5px;
				align-items: center;
			}
			.recommendations-grid {
				width: 380px;
				height: 210px;
				font-size: 1.2em;
				text-align: center;
				margin: 0 auto;
				padding: 5px 5px 10px 5px;
				align-items: center;
			}
		}
		@media screen and (max-width: 506px) {
			h1,
			h2,
			h3,
			h4 {
				letter-spacing: 1px;
				font-size: 1.2em;
			}
			#logo {
				font-size: 1.8em;
			}
			/* Footer */
			/* Social media icons */
			footer ul {
				text-align: center;
				display: flex;
				flex-direction: column;
			}
			/* Homepage */
			#hero-area {
				max-width: 250px;
			}
			#hero-text {
				max-width: 250px;
				font-size: 1.8em;
				padding: 0px;
				margin: 0px;
			}
			/* About page */
			/* Classes used across page */
			.sections-headers {
				width: 250px;
			}
			.solid-background {
				width: 250px;
			}
			.solid-orange {
				width: 250px;
			}
			/* What is sensory play? */

			.senses-paragraph{
				width: 250px;
			}
		
			.senses-heading {
				width: 250px;
			}
		
			/* Play in Motion */
			#iframe {
				width: 200px;
				height: 150px;
			}
			/* Top 10 Activities */
			#top10-pane {
				width: 250px;
			}
			.activities-style {
				width: 250px;
			}
			#play-images {
				width: 250px;
				padding: 0px;
				margin: 0px;
			}
			.play-image-internal {
				padding: 1px;
				margin: 2px;
			}
			/* Help with Anxiety */
			#anxiety-img {
				width: 250px;
				height: 200px;
			}
			#anxiety-pane {
				width: 250px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-content: center;
			}
			.grid-figure {
				padding: 0px;
				width: 240px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.anxiety-activity {
				padding: 3px;
				margin: 0 auto;
			}
			/* Hear from Each Other */
			#feedback-heading {
				width: 250px;
				margin: 0 auto;
			}
			.profile-pictures {
				width: 50px;
				height: 50px;
			}
			.feed-sub {
				width: 250px;
				text-align: center;
				border-bottom: #333333 solid 3px;
			}
			.feedback-section {
				width: 250px;
				padding-top: 5px;
			}
			.feedback-grid {
				width: 230px;
				height: 350px;
				padding: 0px 5px;
			}
			.recommendations-grid {
				width: 230px;
				height: 400px;
			}
			/* Get In Touch */
			#contact-us-heading {
				width: 250px;
				margin: 0 auto;
				padding: 10px;
			}
			#contact-us-heading h3 {
				padding: 10px;
				width: 220px;
				margin: 0 auto;
			}
			#contact-us-area {
				height: 900px;
				width: 250px;
			}
			#young-boy-sandpit {
				visibility: visible;
				height: 250px;
				width: 250px;
			}
			/* Form */
			#form-background {
				display: flex;
				width: 250px;
				padding: 25px 40px 25px 25px;
				top: 500px;
				left: 50%;
				right: 50%;
				transform: translate(-50%, -50%);
			}
			#radio-feedback-area {
				padding: 10px;
			}
			.radio-feedback {
				margin: 3px;
			}
			.submit-info {
				margin: 0 auto;
			}
		}
	}
	@media screen and (max-width: 300px) {
		/* Default styling */
		html {
			font-size: 40%;
		}
		/* Homepage */
		#hero-area {
			max-width: 150px;
			height: 180px;
			padding-bottom: 0px;
		}
		#hero-text {
			max-width: 150px;
			font-size: 1.9em;
			padding: 0px;
		}
		/* About page */
		/* Classes used across page */
		.sections-headers {
			width: 150px;
		}
		.solid-background {
			width: 150px;
		}
		.solid-orange {
			width: 150px;
		}
		/* What is sensory play? */
		.senses-paragraph{
			width: 150px;
		}

		.senses-heading {
			width: 150px;
		}

		/* Play in Motion */
		#iframe {
			width: 120px;
			height: 150px;
		}
		/* Top 10 Activities */
		#top10-pane {
			width: 150px;
		}
		.activities-style {
			width: 150px;
		}
		#play-images {
			width: 150px;
			display: flex;
			flex-direction: column;
		}
		.play-image-internal {
			padding: 1px;
			margin: 1px;
		}
		/* Help with Anxiety */
		#anxiety-img {
			width: 150px;
			height: 100px;
		}
		#anxiety-pane {
			width: 150px;
		}
		.grid-figure {
			width: 140px;
		}
		/* Hear from Each Other */
		#feedback-heading {
			width: 150px;
		}
		.profile-pictures {
			width: 30px;
			height: 30px;
		}
		.feed-sub {
			width: 150px;
		}
		.feedback-section {
			width: 150px;
		}
		.feedback-grid {
			width: 130px;
			height: 450px;
		}
		.recommendations-grid {
			width: 130px;
			height: 500px;
		}
		/* Get In Touch */
		#contact-us-heading {
			width: 150px;
			margin: 0 auto;
			padding: 10px;
		}
		#contact-us-heading h3 {
			padding: 10px;
			width: 120px;
			margin: 0 auto;
		}
		#contact-us-area {
			height: 1000px;
			width: 150px;
		}
		#young-boy-sandpit {
			visibility: visible;
			height: 150px;
			width: 150px;
		}
		/* Form */
		#form-background {
			display: flex;
			width: 150px;
			padding: 25px 40px 25px 25px;
			top: 500px;
			font-size: .9rem;
			left: 50%;
			right: 50%;
			transform: translate(-50%, -50%);
		}
		#radio-feedback-area {
			padding: 10px;
			font-size: .8em;
		}
		.radio-feedback {
			margin: 3px;
		}
	}
}